#define FLORA_ADDR "11:22:33:44:55:66"

#define MQTT_BASE "flora/"
#define MQTT_DEV_BASE MQTT_BASE FLORA_ADDR "/"

#define MQTT_TEMPERATURE MQTT_DEV_BASE "temperature"
#define MQTT_MOISTURE MQTT_DEV_BASE "moisture"
#define MQTT_LIGHT MQTT_DEV_BASE "light"
#define MQTT_CONDUCTIVITY MQTT_DEV_BASE "conductivity"

#define SLEEP_DURATION 3600ll // duration of sleep between flora connection attempts in seconds (must be constant with "ll" suffix)
#define SLEEP_WAIT 30         // time until esp32 is put into deep sleep mode. must be sufficient to connect to wlan, connect to xiaomi flora device & push measurement data to MQTT

const char* wifi_ssid     = "ssid";
const char* wifi_password = "password";

const char* mqtt_server = "192.168.123.45";
